[Unit]
Description=Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST="172.31.72.137"
Environment=DB_USER=expense
Environment=DB_PASS=ExpenseApp@1
Environment=DB_NAME=transactions
ExecStart=/bin/node /app/index.js
Restart=always
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
